@page
@model Food.Pages_Foods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Foodie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foodie.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foodie.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foodie.PowerAcquisitionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foodie.PowerAcquisitionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foodie.Ingredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foodie.Ingredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foodie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foodie.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Foodie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
